<footer class="footer-main-nav">
  <div class="flx">
    <section class="sec-1">
      <h2 class="f-size-xlrg">IVC Katale</h2>
      <div class="social-icons flx">
        <a href="/" class="social-icon"
          ><i class="lni lni-facebook-filled"></i
        ></a>
        <a href="/" class="social-icon"
          ><i class="lni lni-twitter-filled"></i
        ></a>
        <a href="/" class="social-icon"
          ><i class="lni lni-instagram-filled"></i
        ></a>
      </div>
    </section>
    <section class="sec-2 flx">
      <div class="contact-container">
        <h3 class="f-size-reg">Contact Information</h3>
        <p><i class="lni lni-phone"></i> 0788463614</p>
        <p><i class="lni lni-phone"></i> 0788463614</p>
        <p><i class="lni lni-envelope"></i>logo@info.com</p>
      </div>
      <div class="navlinks-container flx">
        <a href="">Trending</a>
        <a href="">Most Popular</a>
        <a href="">Up Coming</a>
        <a href="">New Uploads</a>
      </div>
    </section>
    <section class="sec-3">
      <h3 class="f-size-med">Subscribe to our newsletter</h3>
      <form class="newsletter-form">
        <input
          type="email"
          name="newsletter"
          placeholder="eg. example@email.com"
          id=""
        />
        <button type="submit" class="btn">subscribe</button>
      </form>
    </section>
  </div>
  <div class="footer-bottom">
    <p class="center-align">
      &copy; Copyright <span class="current-year"></span>
    </p>
  </div>
</footer>
