<nav class="m-navbar">
  <div class="m-logo">
    <!-- <h1 class="f-size-lrg">Logo</h1> -->
    <div class="menu-btn">
      <div class="menu-item"></div>
      <div class="menu-item"></div>
    </div>
  </div>
  <!-- <div class="m-navlinks">
        <ul class="flx jc-btn">
            <li class="navlink"><a href="/">Home</a></li>
            <li class="navlink"><a href="/dashboard">Dashboard</a></li>
            <li class="navlink"><a href="/events">Events</a></li>
            <li class="navlink"><a href="/support">Support</a></li>
        </ul>
    </div>
    <div class="m-side-nav">
        <a href="/account" class="btn">Login <i class="lni lni-arrow-right"></i></a>
    </div> -->
</nav>
