<%- include('imports/header'); -%>
    <%- include('imports/nav-2'); -%>
        <main id="page-not-found">
            <div class="bg-img">
                <h3 class="realign left-align">Error</h3>
                <img src="/images/404.png" alt="" srcset="">
                <p class="error center-align">The page was not found. Redirecting in .... <span class="count-down"></span></p>
                <h3 class="realign right-align">404</h3>
            </div>
        </main>
        <script src="/js/errorPage.js"></script>
        <%- include('imports/footer'); -%>