@import "config";
// ---------------- nav bar styling
nav {
  &.m-navbar {
    padding: 2rem 5rem;
    .m-logo {
      padding: 0 1rem;
      //   h1 {
      //     text-transform: uppercase;
      //   }
      .menu-btn {
        cursor: pointer;
        .menu-item {
          height: 0.3rem;
          width: 2rem;
          margin: 0.2rem;
          border-radius: 0.3rem;
          background: $base-color-2;
          &:first-child {
            width: 1.5rem;
            margin: 0 0 0 0.6rem;
          }
        }
      }
    }
    .m-search-form {
      form {
        .input {
          position: relative;
          i {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            font-size: 1.2rem;
            color: $secondary-color;
          }
          input {
            background-color: $base-color-2;
            outline: none;
            border: none;
            border-radius: 0.3rem;
            padding: 0.6rem 2rem;
            color: $base-color;
          }
        }
      }
    }
    .m-side-nav {
      .side-nav-icons {
        padding: 0 2rem;
        a {
          padding: 0.6rem;
          margin: 0 0.3rem;
          cursor: pointer;
          &.user-icon {
            margin: 0 0.5rem;
            background: #f0f0f075;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 50%;
          }
          i {
            font-size: 1.3rem;
          }
        }
      }
      .user-dropdown {
        padding: 2rem 1rem 3rem 1rem;
        background: #f0f0f075;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 1rem;
        position: absolute;
        top: 6rem;
        right: 8rem;
        display: none;
        &.show {
          display: block;
        }
        i {
          &#dropdown-close {
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            font-weight: bold;
            color: $base-color;
            font-size: 1.3rem;
            cursor: pointer;
          }
        }
        .user-profile {
          padding: 1rem 0;
          p {
            margin: 0.5rem 0;
          }
          a {
            position: relative;
            top: 1rem;
          }
        }
      }
    }
  }
  &.dashboard-navbar {
    width: 17%;
    background: #050f1b;
    height: 100%;
    border-radius: 2rem;
    padding: 2rem 1rem;
    box-shadow: 0 3px 10px #00000033;
    .profile {
      padding: 2rem 1rem 1rem;
      background: lighten($color: #050f1b, $amount: 2);
      border-radius: 2rem;
      .profile-img {
        a {
          position: relative;
          left: 25%;
          padding: 2rem 1rem 1.7rem 1rem;
          border-radius: 50%;
          background: $primary-color;
          i {
            font-size: 3rem;
          }
        }
      }
      .profile-name {
        padding: 2rem 1rem;
        p {
          font-size: 1.2rem;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
      a {
        &.btn {
          position: relative;
          left: 20%;
        }
      }
    }
    ul {
      &.nav-links {
        padding: 2rem 1rem 1rem;
        li {
          margin: 1rem 0;
          a {
            i {
              margin: 0 0.3rem;
              font-size: 1.3rem;
            }
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
    .footer-side-nav {
      padding: 1rem 0;
    }
  }
}

main {
  &#landing-page {
    section {
      &.sec-1 {
        padding: 2rem 3rem;
        width: 100%;
        .header {
          padding: 2rem 3rem 8rem 3rem;
          width: 70%;
          h2 {
            letter-spacing: 0px;
            margin: 0.5rem 0;
            font-size: 3rem;
            font-family: karla;
            font-weight: 600;
          }
          p {
            font-size: 1.5rem;
            margin: 0.3rem 0;
          }
        }
      }
      &.sec-2 {
        padding: 2rem 5rem;
        .music-cards {
          padding: 1rem 0;
          .music-card {
            &:hover {
              padding: 0.5rem;
              cursor: pointer;
            }
            img {
              width: 100%;
            }
            .txt {
              p {
                font-size: 1.2rem;
                margin: 0.3rem 0;
              }
            }
          }
        }
      }
      &.sec-3 {
        padding: 0 5rem;
      }
    }
  }

  &#account {
    padding: 3rem 3rem 1rem 3rem;
    .form {
      .forms-wrapper {
        padding: 3rem 5rem;
        .forms {
          width: 90%;
          .forms-header {
            width: 100%;
            padding: 0 3rem;
            .btn-form {
              padding: 1rem 2rem;
              text-align: center;
              width: 100%;
              cursor: pointer;
              &.active {
                border-bottom: 2px solid #cecece;
              }
            }
          }
          .forms-container {
            padding: 2rem 1rem;
            form {
              display: none;
              &.show {
                display: block;
              }
              h3 {
                i {
                  font-size: 2rem;
                }
              }
              .other-auth-option {
                padding: 2rem 0 1rem 0;
                p {
                  font-size: 1.3rem;
                }
                .google-auth {
                  padding: 1rem 2rem;
                  a {
                    padding: 0.5rem 1rem;
                    border: 2px solid $primary-color;
                    border-radius: 5rem;
                    i {
                      font-size: 1.3rem;
                    }
                  }
                }
                .apple-auth {
                  padding: 1rem 2rem;
                  a {
                    padding: 0.5rem 1rem;
                    border: 2px solid $secondary-color;
                    border-radius: 5rem;
                    i {
                      font-size: 1.3rem;
                    }
                  }
                }
              }
              .input {
                padding: 0.5rem 1rem;
                flex-direction: column;
                position: relative;
                i {
                  position: absolute;
                  top: 3.4rem;
                  left: 1.5rem;
                  font-size: 1.2rem;
                }
                label {
                  padding: 0.5rem 0;
                }
                input {
                  background-color: lighten($color: #1a1a1a, $amount: 2);
                  outline: none;
                  border: none;
                  border-radius: 0.3rem;
                  padding: 0.6rem 2rem;
                }
                p.error {
                  color: #ff002b;
                }
              }
              button {
                outline: none;
                border: none;
                margin: 2rem 0;
              }
            }
          }
        }
      }
    }
  }
  &#register {
    padding: 3rem 5rem;
    .form {
      width: 100%;
      padding: 0 3rem;
      form {
        &.show {
          display: block;
        }
        h3 {
          i {
            font-size: 2rem;
          }
        }
        .other-signin-option {
          padding: 2rem 0 1rem 0;
        }
        .input {
          padding: 0.5rem 1rem;
          flex-direction: column;
          position: relative;
          i {
            position: absolute;
            top: 3.4rem;
            left: 1.5rem;
            font-size: 1.2rem;
          }
          label {
            padding: 0.5rem 0;
          }
          input {
            background-color: lighten($color: #1a1a1a, $amount: 2);
            outline: none;
            border: none;
            border-radius: 0.3rem;
            padding: 0.6rem 2rem;
          }
          p.error {
            color: #ff002b;
          }
        }
        button {
          outline: none;
          border: none;
          margin: 2rem 0;
        }
      }
    }
  }
  &#page-not-found {
    padding: 2rem 2rem 3rem 2rem;
    .bg-img {
      h3 {
        &.realign {
          position: absolute;
          top: 40%;
          font-size: 8rem;
          font-family: karla-bold;
          text-transform: uppercase;
          font-weight: bolder;
          background-color: lighten($color: #1a1a1a, $amount: 4);
          background-image: radial-gradient(
              at 4% 36%,
              #092738 0,
              transparent 53%
            ),
            radial-gradient(at 100% 60%, #412c05 0, transparent 50%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &.left-align {
            left: 12rem;
          }
          &.right-align {
            right: 15rem;
          }
        }
      }
      img {
        width: 20%;
        height: 20%;
        position: relative;
        left: 45%;
      }
      p {
        margin: 1.5rem 0;
        font-size: 2rem;
        span {
          &.count-down {
            font-size: 2rem;
          }
        }
      }
    }
  }
  &#dashboard {
    padding: 1rem;
    .content {
      height: 100%;
      width: 80%;
      padding: 1rem;
      section {
        &#sec-1 {
          padding: 1rem 2rem 2rem 2rem;
          .top-nav {
            a {
              font-size: 1.3rem;
              color: $base-color;
              margin: 1rem 0;
            }
            h3 {
              color: $base-color;
              font-family: karla-bold;
              .text-secondary {
                font-size: 2rem;
                color: $primary-color;
                font-family: karla-bold;
              }
            }
            form {
              position: absolute;
              top: 3rem;
              right: 5rem;
              i {
                color: $base-color;
                position: absolute;
                top: 0.6rem;
                left: 0.3rem;
                font-size: 1.1rem;
              }
              input {
                background-color: $base-color-2;
                box-shadow: 0 3px 10px #00000033;
                outline: none;
                border: none;
                width: 100%;
                padding: 0.5rem 0.5rem 0.5rem 1.5rem;
                border-radius: 0.3rem;
                color: $base-color;
              }
            }
          }

          form {
            &.add-music-form {
              padding: 2rem 0;
              h3 {
                color: $base-color;
                font-family: karla-bold;
              }
              .form-input {
                padding: 1rem 0;
                .input {
                  label {
                    color: $base-color;
                  }
                  button {
                    border: none;
                    outline: none;
                    box-shadow: none;
                  }
                  input {
                    background-color: $base-color-2;
                    box-shadow: 0 3px 10px #00000033;
                    outline: none;
                    border: none;
                    width: 100%;
                    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
                    border-radius: 0.3rem;
                    margin: 0.3rem 0;
                    color: $base-color;
                  }
                }
              }
            }
          }
        }
        &#sec-2 {
          &.error {
            padding: 8rem 0;
            p {
              font-size: 1.2rem;
              margin: 1rem 0;
              color: $base-color;
            }
            a {
              position: relative;
              left: 45%;
            }
          }
          padding: 2rem 1rem;
          .cards {
            padding: 1rem;
            .card {
              padding: 1rem;
              height: 150px;
              background: $base-color-2;
              border-radius: 1rem;
              .agg-num {
                height: 70%;
                padding: 1rem 0 0 0;
                h3 {
                  color: $base-color;
                }
              }
              p {
                color: $base-color;
              }
              &.bg-dif {
                background: #050f1b;
                .agg-num {
                  h3 {
                    color: $primary-color;
                  }
                }
                p {
                  color: $base-color-2;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #1a1a1a;
  &.footer-main-nav {
    padding: 3rem 5rem;
    .flx {
      section {
        &.sec-1 {
          padding: 3rem 3rem 5rem 3rem;
          h2 {
            text-align: center;
          }
          .social-icons {
            padding: 0.5rem 0;
            a {
              margin: 0 0.3rem;
              i {
                font-size: 1.3rem;
              }
            }
          }
        }
        &.sec-2 {
          padding: 2rem 1rem;
          .contact-container {
            padding: 0 2rem;
            p {
              margin: 0.5rem 0;
              i {
                font-size: 1.2rem;
                margin: 0 0.3rem;
              }
            }
          }
          .navlinks-container {
            flex-direction: column;
            padding: 0 2rem;
            a {
              margin: 0.5rem 0;
              &:hover {
                font-weight: bold;
              }
            }
          }
        }
        &.sec-3 {
          padding: 2rem 1rem;
          form {
            padding: 1rem 0 2rem 0;
            input {
              background-color: lighten($color: #1a1a1a, $amount: 2);
              outline: none;
              border: none;
              border-radius: 0.3rem;
              padding: 0.6rem 2rem;
              width: 100%;
            }
            button {
              outline: none;
              border: none;
              margin: 1rem;
            }
          }
        }
      }
    }
    .footer-bottom {
      padding: 1rem 0;
      p {
        span {
          color: $primary-color;
        }
      }
    }
  }
}
