<nav class="dashboard-navbar">
  <div class="profile">
    <div class="profile-img">
      <a><i class="lni lni-user"></i></a>
    </div>
    <div class="profile-name">
      <p class="center-align">John Doe</p>
    </div>
    <a href="/auth/logout" class="btn">Log Out</a>
  </div>
  <ul class="nav-links">
    <li class="nav-link">
      <a href="/dashboard"><i class="lni lni-home"></i>Dashboard</a>
    </li>
    <li class="nav-link">
      <a href="/dashboard/add-music"><i class="lni lni-music"></i>Add music</a>
    </li>
  </ul>
  <div class="footer-side-nav">
    <p class="center-align">
      &copy; Copyright <span class="current-year"></span>
    </p>
  </div>
</nav>
